<footer class="container-fluid p-1 mt-5">      <!--shadow-no-hover-->
@*    <div class="ps-3 p-2 text-center">
        <p class="fw-bold m-0">Other places you can find me</p>
    </div>*@

    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://github.com/Drazie" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/kostyantyn-didenko-81388b188" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/didenkostya/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>