
﻿.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.75);
    background-color: transparent;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.nav-link:hover, .nav-link:focus {
    color: rgba(0, 0, 0, 0.85);
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.active {
    color: #000;
}




.navbar-toggler:focus, .navbar-toggler, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



    


