<div class="card shadow mb-2">
    <img src="https://picsum.photos/640/360" class="card-img-top" alt="Category thumbnail"/>
    <div class="card-body">
        <h3 class="card-title">Category name</h3>
        <p class="card-text">Description</p>
    </div>
    <a href="/" class="btn btn-primary streched-link">View posts</a>
</div>

@code {

}
